@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

$font-family-sans-serif: 'Google Sans', sans-serif;
$primary-color: #3c3333;
$secondary-color: #000000;
$gray: #808080;
$greenish: #f66c72;

body {
  background-color: #fcf6f0;
}

.navbar {
  border-radius: 10px;
  margin: 10px;
  padding: auto;
}

.sticky-top {
  margin: 10px;
}

.container {
  flex-direction: column;
  margin-top: 1em;
}

.container-row {
  flex-direction: row !important;
}

.primary {
  font-family: $font-family-sans-serif;
  color: $primary-color;
}

.btn {
  margin: 0.5em;
}

.btn-primary {
  background-color: $greenish;
  border-color: $secondary-color;
  font-family: $font-family-sans-serif;
}

.btn-disabled {
  background-color: $gray;
  border-color: $gray;
  font-family: $font-family-sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  height: 100vh;
}

.move {
  transition: transform 0.5s ease-out;
  transform: translateY(-45px);
}

.cursor {
  background-color: $primary-color;
  width: 2px;
  height: 1em;
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s infinite;
}

.fading {
  animation: fadein 1s;
}

.center-text {
  text-align: center;
}

.pre-line {
  white-space: pre-line;
}

.parent-div {
  position: relative;
}

.child-div {
  position: absolute;
  top: 50px;
  left: 50px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.outline {
  outline: 2px solid $greenish;
  outline-offset: 4px;
}

.content-box {
  display: inline-flex;
  box-sizing: border-box;
  width: min(520px, 100%);
}

.mid-img {
  max-height: 400px;
  width: auto;
}

.long-img {
  max-height: 750px;
  width: auto;
}

.box-bg {
  background-color: $greenish;
}
